.employees-list{
    margin-top: 70px;
}
.title-primary{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.title-primary a:hover {
    color: var(--primary-color-hover);
  }