.error{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .error-img{
    width: 420px;
    height: auto;
    margin-top: 20px;
  }
  .error-title__secondary{
      color: var(--accent-color);
  }